<div class="column is-one-quarter">
    <nav class="panel">
        <p class="panel-heading">Trending Topics</p>
        <a class="panel-block">
            HOT TREND 
        </a>
        <a class="panel-block">
            HOT TREND 
        </a>
        <a class="panel-block">
            HOT TREND 
        </a>
    </nav>
</div>